<header class="header-background">
  <div class="header-container">
    <h1><span>ROBERT </span><span>OLBRYCHOWSKI</span></h1>
    <div class="underline"></div>
    <div class="portfolio-title-container">
      <p>PORTFOLIO</p>
    </div>
    <div class="toggle-button-container">
      <button class="toggle-button">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div class="navigation-container">
      <ul>
        <li>O MNIE</li>
        <li>PROJEKTY</li>
        <li>UMIEJĘTNOŚCI</li>
        <li>KONTAKT</li>
      </ul>
    </div>
  </div>
</header>
