.profile-container {
  width: 100%;
  height: fit-content;
  padding: 30px 15%;
  position: relative;
  margin: 0 auto;
  top: 100px;
  background-color: #708090;
  text-align: center;

  @media (min-width: 30rem) {
    top: 165px;
  }

  @media (min-width: 45.5rem) {
    top: 185px;
  }

  @media (min-width: 55.5rem) {
    top: 210px;
  }

  p {
    font-family: 'Tahoma';
    color: white;
    font-size: 21px;
    display: block;
    letter-spacing: 1.5px;
    line-height: 1.7rem;
    padding-bottom: 1rem;
  }
}
