<div class="projects-section">
  <h1 class="section-title">MOJE PROJEKTY</h1>
  <figure class="project-container">
    <img src="assets/burger-builder.jpg"/>
    <figcaption class="project-info">
      <h3 class="project-title">Burger Builder</h3>
    </figcaption>
  </figure>

  <figure class="project-container">
    <img/>
    <figcaption class="project-info">
      <h3 class="project-title">Lost World</h3>
    </figcaption>
  </figure>

  <figure class="project-container">
    <img src="assets/element-pd.jpg"/>
    <figcaption class="project-info">
      <h3 class="project-title">Element-pd</h3>
    </figcaption>
  </figure>
</div>
